$clr--main: #dddddd;
$clr--accent: #eb5e28;
$clr--light: #fffefb;
$clr--dark: rgb(65, 65, 65);
$clr--darkest: #252525;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

img,
svg {
  width: 100px;
}
